doctype
html
  head
    title #{title}
    link(href='../trifler/css/app.css', rel='stylesheet')
    link(href='../trifler/components/codemirror/lib/codemirror.css', rel='stylesheet')
  body
    include ./header.jade
    section.trifler
      div.container.clearfix
        div.inputbox.left
          span.placeholder HTML
          textarea.default#html #{trifle.html}
        div.inputbox.right
          span.placeholder CSS
          textarea.default#css #{trifle.css}
        div.inputbox.left
          span.placeholder Javascript
          textarea.default#js #{trifle.js}
        div.outputbox.right#display
          span.placeholder Trifle
          iframe.result#frame(name='frame', sandbox='allow-forms allow-popups allow-scripts allow-same-origin allow-modals', frameborder='0')
    include ./footer.jade
    script window.csrf = '#{csrf}';
    script(data-main='../trifler/js/app.js' src='/trifler/components/requirejs/require.js')
